.tracklisting{
    font-size: 16px;
    padding-top:10px;
}

.tracklisting ul{
    list-style-type: none;
}

.tracklisting li{
    display: block;
    line-height: 30px;
}

.tracklisting button{
    line-height: 1;
}